<!-- <h1>All Events</h1>
<ul>
  <% @events.each do |event| %>
    <li><%= event.title %></li>
  <% end %>
</ul> -->

<!-- <h1>All Events</h1>
<ul>
  <% @events.each do |event| %>
    <li><%= event.prettify_name %></li>
  <% end %>
</ul> -->

<!-- <h1>All Events</h1>
<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.prettify_name, event_path(event.title) %></li>
  <% end %>
</ul> -->

<div class="container">
  <h1 class="page-header">
    Events & Producers App
  </h1>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h1>All Producers</h1>

      <div style="max-height: 100px; overflow-y: scroll;">
        <ul>
          <% @producers.each do |pro| %>
            <li><%= link_to pro.title, "/?search=#{pro.title}" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="col-md-6">
      <h1>All Events</h1>

      <div style="max-height: 400px; overflow-y: scroll;">
        <ul>
          <% @events.each do |event| %>
            <% cache event do %>
              <%= render 'events/event_details', event: event %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>  
</div>
